#Characters-Container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(29, 29, 29);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #f3f3f3;
}
.Characters-Wrap {
    -webkit-column-count: 2;
    margin-bottom: 20px;
}
.Characters-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Characters-Container h2 {
    color: #ccc;
    font-family: 'Oswald', sans-serif;
    font-size: 2.2em;
}
.Characters-Container h2:hover {
    color: #ffd700;
    cursor: pointer;
}
.Character {
    height: 300px;
    width: 275px;
}