#Faction-Container {
    margin-top: 5em;
    background: rgb(29, 29, 29);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #f3f3f3;
}
.Faction-Title {
    background-color: #999999;
    height: 65px;
    margin-top: -29px;
}
.Faction-Container h1{
    color: #f3f3f3;
    font-weight: 600;
    font-size: 44px;
    padding-left: 15px;
}
.Faction-Container p {
    font-size: 25px;
    padding: 15px;
    text-align: left;
}
.Faction-Column {
    text-align: center;
    clear: right;
    float: right;
    width: 250px;
    margin: 0 0 15px 15px;
    font-size: 14px;
    line-height: 22px;
    background-color: #999999;
}